body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  text-decoration: underline blueviolet;
  text-underline-offset: 5px;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 2rem;
  margin-top: 5rem;
  padding: 0;
}
.footer {
  background-color: aquamarine;
  margin-top: auto;
  text-align: center;
  padding: 10px;
  border-top: 1px double #000;
}
